@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");

:root {
  --color-primary: #495e57;
  --color-secondary: #f4ce14;
  --color-accent: #ee9972;
  --color-background: #edefee;
  --color-text: #333333;

  --font-display: "Markazi Text", serif;
  --font-subtitle: "Markazi Text", serif;
  --font-body: "Karla", sans-serif;
  --font-cardtitle: "Karla", sans-serif;
  --font-highlights: "Karla", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: red solid 1px; */
}

body {
  font-family: var(--font-body);
  background-color: var(--color-background);
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bold;
  font-size: 18px;
}

nav {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 25px;
  align-items: center;
  text-align: center;
}

header {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 50px;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
}

.menu-button {
  display: none;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

/* Main Section Styles */
.hero-section {
  display: flex;
  height: 500px;
  padding: 30px 0;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
}

.hero {
  display: flex;
  padding: 25px 0;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex: 1 0 0;
  width: 100%;
  background: var(--primary-colors, #495e57);
}

.hero-text {
  display: grid;
  grid-template-rows: auto auto;
  align-items: start;
  justify-items: start;
  padding: 20px;
  gap: 10px;
  width: 100%;
  max-width: 333px;
}

.hero-text h1 {
  font-family: var(--font-display);
  font-size: 64px;
  color: var(--color-secondary);
  line-height: 0.8;
}

.hero-section h2 {
  font-family: var(--font-subtitle);
  font-size: 32px;
  color: var(--color-background);
  line-height: 0.8;
}

.hero-text p {
  font-size: 18px;
  flex: 1 0 0;
  color: var(--color-background);
  font-family: var(--font-body);
}

.reserve-button,
.order-button {
  font-size: 18px;
  font-weight: 700;
  border-radius: 16px;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  transition: transform 1s;
  font-family: var(--font-body);
  background-color: var(--color-secondary);
  color: var(--color-text);
}

.reserve-button:hover,
.order-button:hover {
  transform: scale(1.05);
}

.invisible {
  width: 322px;
  height: 278px;
}

.hero-image {
  position: absolute;
  object-fit: cover;
  width: 100%;
  max-width: 330px;
  height: 367px;
  border-radius: 20px;
  right: 261px;
  top: 160px;
}

/* Specials Section */

.specials-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specials {
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 20px;
}

.specials-header {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
}

.specials-header h1 {
  font-size: 64px;
  font-family: var(--font-display);
  color: var(--color-text);
}

.specials-list {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  column-width: 280px;
}

.specials-item {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
  border-radius: 16px;
  background-color: #ffffff;
}

.specials-item h2 {
  font-family: "Markazi Text", serif;
  font-size: 28px;
  color: var(--color-text);
}

.specials-item .price {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: var(--color-accent);
}

.image-container img {
  object-fit: cover;
  width: 100%;
  max-width: 300px;
  height: 200px;
  border-radius: 20px 20px 0 0;
}

.title-food {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.description {
  padding: 0 20px;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: var(--color-text);
}

.delivery-button {
  background: none;
  border: none;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  font-family: "Karla", sans-serif;
  padding: 20px;
  width: 100%;
  font-size: 16px;
  color: var(--color-text);
  font-weight: 300;
}

/* Testimonials Section */

.testimonials-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  padding: 30px 0;
  gap: 16px;
  flex-shrink: 0;
}

.testimonials-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  gap: 50px;
  flex: 1 0 0;
  width: 100%;
  height: 100%;
  background: var(--primary-colors, #495e57);
}

.testimonials-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  column-width: 280px;
}

.testimonials-list h1 {
  grid-column: span 6;
  text-align: center;
  font-size: 64px;
  line-height: 0.8;
  font-family: var(--font-display);
  color: var(--color-secondary);
}

/* Testimonials cards */

.testimonial {
  display: grid;
  grid-template-rows: auto 1fr auto;
  place-items: center;
  border-radius: 16px;
  padding: 20px;
  background: var(--color-background);
}

.testimonial p {
  margin: 10px 0;
  font-size: 16px;
  font-family: var(--font-body);
  color: var(--color-text);
}

.testimonial .author {
  font-size: 18px;
  font-family: var(--font-display);
  color: var(--color-secondary);
}

/* About Section */

.about-section {
  display: grid;
  grid-template-rows: auto auto;
  place-items: center;
  height: 500px;
  padding: 30px 0;
  gap: 16px;
  flex-shrink: 0;
}