@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");

:root {
  --color-primary: #495e57;
  --color-secondary: #f4ce14;
  --color-accent: #ee9972;
  --color-background: #edefee;
  --color-text: #333333;

  --font-display: "Markazi Text", serif;
  --font-subtitle: "Markazi Text", serif;
  --font-body: "Karla", sans-serif;
  --font-cardtitle: "Karla", sans-serif;
  --font-highlights: "Karla", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: red solid 1px;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-background);
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: none;
}

.mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-button {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--color-primary);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
